/* ------------------------------------------------------ Basic styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font: 12px Arial, Helvetica, sans-serif;
    background: #473B38;
    color: #cac4c1;
}

.page {
    width: 950px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 150px;
    position: relative;
}

h1 {
    color: #decacb;
    font-size: 20px;
    margin-bottom: 10px;
}

h2 {
    font: bold 18px Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    color: #95d0d9;
}

h3 {
    color: #95d0d9;
    margin-right: 25px;
    font: bold 17px Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}

.field {
    margin-bottom: 10px;
    font-size: 13px;
}

input {
    width: 170px;
    height: 22px;
    border: 1px solid #95d0d9;
    margin-left: 15px;
}

button {
    width: 250px;
    height: 35px;
    border-radius: 6px;
    border: 1px outset #3aacbd;
    background: linear-gradient(180deg, #55c1d1, #148ea0);
    color: white;
    text-shadow: -1px -1px #1e545c;
    font-size: 15px;
}

.word {
    font-size: 28px;
}

.businesses {
    color: #decacb;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
}


/*----------------------------------------- Header */

.header {
    width: 950px;
    border-bottom: 1px solid #6A5455;
    padding: 15px 0;
    margin-bottom: 30px;
}

.header::after {
    content: '';
    display: block;
    clear: both;
}

.nav {
    float: right;
    margin-top: 55px;
}

.nav a {
    color: #decac5;
    margin-left: 20px;
    text-decoration: none;
    padding: 2.5px 0;
}

.nav a:hover {
    border-top: 8px solid #594546;
}

/* ---------------------------------------- Content */

.content::after {
    content: '';
    display: block;
    clear: both;
}

.column-left {
    width: 280px;
    float: left;
}

.column-right {
    width: 650px;
    padding: 0 20px;
    float: right;
}

/*--------------- Module: Label */

.module--label {
    width: 402px;
    background-color: #594546;
    border: 1px solid #7f5e60;
    padding: 20px 0 24px 105px;
    font-size: 14px;
    margin: 0 0 28px -120px;
}

/*--------------- Module: Address */

.module--address {
    background-color: #3c322f;
    padding: 19px 0 45px 10px;
    line-height: 170%;
    border-radius: 7px;
}

.module--address p {
    margin-bottom: 25px;
    color: #a28c8b;
}

.module--address p:nth-child(2) {
    font-weight: bold;
    font-style: italic;
    color: white;
}

.module--adress button {
    margin-top: 20px;
}

/*----------------- Module: Input */

.module--input {
    text-align: right;
    margin-bottom: 23px;
}

.module--input::after {
    content: '';
    display: block;
    clear: both;
}

.module--input img {
    float: left;
}

.module--input button {
    margin-top: 20px;
}

/*------------------- Module: Article */

.module--article {
    line-height: 170%;
}

.page--about-us .module--article p {
    padding-bottom: 25px;
}

/*------------------- Module: Links */

.module--links h6 {
    color: white;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    float: left;
}

.partners::after {
    content: '';
    display: block;
    clear: both;
}

.partners img {
    border: 10px solid #3c312f;
}

.partners a {
    float: left;
    margin: 0 10px 10px 0;
}

/*-------------------- Module: For-entrepreneurs */

.module--for-entrepreneurs p {
    margin-bottom: 25px;
    line-height: 170%;
}

.module--for-entrepreneurs ol {
    line-height: 170%;
}

/*-------------------- Module: Contacts */

.module--contacts p {
    line-height: 170%;
}

/* ---------------------------------------- Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #6A5455;
    height: 120px;
    padding-top: 16px;
}

.footer a {
    color: #fff3cb;
    vertical-align: 40px;
    margin-left: 5px;
}